
<div class="container flex-column beer-container"> 
  <img src="<%= item.image_url %>" alt="" height="200px" width="70px">
  <h1><%= item.name %></h1>
  <h3><%= item.tagline %></h3>
  <p><%= item.description %></p>
</div>   
